/* Estilos generales */
body {
    font-family: rockwell;
    background: rgb(249, 214, 172);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background: #fff;
    padding: 30px;
    padding-right: 60px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #5a3d2b;
  }
  
  /* Estilos del formulario */
  .profile-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  input, textarea {
    color: black;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
  }
  
  input:focus, textarea:focus {
    border-color: #75906b;
    outline: none;
  }
  
  /* Botón de enviar */
  .submit-btn {
    background: rgb(249, 214, 172);
    color: #5a3d2b;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color:  #75906b;
  }
  
  /* Input de archivo estilizado */
  input[type="file"] {
    border: none;
    padding: 5px;
  }
  